<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>trckr</title>
  </head>

  <body>
    <h1>trckr v.0.0.2</h1>
    <section id="react-app">
      <%- markup %>
    </section>
    <script id="store" type="application/json"><%-JSON.stringify(store)%></script>
    <script src="/static/bundle.js"></script>
  </body>
</html>
