<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<title>trckr</title>
	<meta name="description" content="">
	<meta name="author" content="">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width">
	<meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1" media="(device-height: 568px)">
	<meta name="apple-mobile-web-app-title" content="Material Console">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
	<meta name="format-detection" content="telephone=no">
	<meta name="HandheldFriendly" content="True">
	<meta http-equiv="cleartype" content="on">
	<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
	<link rel="stylesheet" href="/build/trckr.app.css">
  <script src="https://netflix.github.io/falcor/build/falcor.browser.js"></script>
  <script>
    var model = new falcor.Model({
     source: new falcor.HttpDataSource('/falcor/model.json')
    });

    // -- Static
    model
      .get('greeting')
      .then(function(response) {
        console.log('Falcor/greeting', response.json)
      });

    // -- Basic
    model
      .get(['orders', {from: 0, to: 3}, ['id', 'createdAt']])
      // .get("orders[0..3]['id', 'createdAt', 'provider']")
      .then(function(response) {
        console.log('Falcor/orders', response.json.orders)
      });

    // -- Non existent properties
    model
      .get("orders.length")
      .then(function(response) {
        console.log('Falcor/orders.length', response.json.orders)
      })

    // -- Multiple paths
    model
      .get("orders['provider']")
      .then(function(response) {
        console.log('Falcor/orders.provider', response.json.orders)
      })
    model
      .get(['orders', ['provider', 'createdAt']])
      // .get("orders['provider', 'createdAt']")
      .then(function(response) {
        console.log('Falcor/orders.provider', response.json.orders)
      })

    // -- By Id
    model
      .get("order['d32b00f0-1769-4326-a1d7-3a108af943e6']['id', 'createdAt']")
      .then(function(response) {
        console.log('Falcor/orders.orderById', response.json.order)
      })

    // -- Combining
    // model.get(["todos", {from: 0, to:1},"name"], ["todos", "length"]).then(function(response){
    //     console.log(JSON.stringify(response));
    // });

    // -- Add Element
    model
      .call(['orders', 'add'], ['hola'], ["name"])
      .then((response) => {
        console.log('Falcor/orders.add', response.json.orders)
      })

  </script>
</head>

<body>
	<header>
		<strong>trck</strong>
		<nav>
			<a href="/signin">Sign In</a>
			<a href="/auth/twitter">Sign Up</a>
		</nav>
	</header>
	<section id="react-app">
		<%- markup %>
		<small>session: <%-JSON.stringify(session)%></small>
	</section>

	<script id="store" type="application/json">
		<%-JSON.stringify(store)%>
	</script>
	<script src="/build/trckr.app.js"></script>
</body>

</html>
