@import '../../style/theme.css';

:root {
  --appbar-color: var(--color-primary);
}

.root {
  background: var(--appbar-color);

  & .brand {
    font-weight: bold;
    font-size: 150%;
  }
}

.navigation {
  flex-grow: 1;
  text-align: right;
}
