@import 'react-toolbox/lib/commons.css';
@import 'react-toolbox/lib/colors.css';
/*@import 'react-toolbox/lib/variables.css';*/

:root {
  --color-primary: var(--palette-deep-purple-500);
  --color-primary-dark: var(--palette-deep-purple-700);
  --color-accent: var(--palette-pink-a200);
  --color-accent-dark: var(--palette-pink-700);
  --unit: 1rem;

  --appbar-h-padding: calc(2.4 * var(--unit));
}
